{% extends 'navbar.html' %}
{% block title %}
Add Hospital Information
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>

<div class='container mt-4'>
<div class="display-4 text-center text-success"> Add Hospital Data</div>
<br>
<div class='row'>

   <div class="col-md-4">
       <div class="card">
           {% include "message.html" %}
           
           <div class="card-body bg-dark">
            <h4 class="text-center text-white">Patient Slot Details</h4>
          

               <form action="/addhospitalinfo" method='post'>

                   <div class="form-group">
                       <input  type='text' class="form-control mt-2 bg-info " name='Hoscode' placeholder="Enter the Hospital Code"  required>
                    </div>
                   <div class="form-group">
                       <input type='text' class="form-control mt-2 bg-info" name='hname' placeholder="Enter the Hospital Name" required>
                    </div>
                   <div class="form-group">
                       <input type='text' class="form-control mt-2 bg-info" name='normalbed' placeholder='Normal Bed Available?' required>
                    </div>
                   <div class="form-group">
                       <input type='text' class="form-control mt-2 bg-info" name='eicubeds' placeholder="Electric Bed Available?" required>
                    </div>
                   <div class="form-group">
                       <input type='text' class="form-control mt-2 bg-info" name='icubeds' placeholder="I.C.U Beds Available?" required>
                    </div>
                   <div class="form-group">
                       <input type='text' class="form-control mt-2 bg-info" name='ventbeds' placeholder="Ventilator Bed Available?" required>
                    </div>
                    <br>
                    <button class="btn btn-info" type='submit'>Add</button>
           </div>
       </div>


   </div>

   <div class="col-md-8">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/600x1200/?cancer,hospital" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body bg-dark ">
              <h3 class="card-title text-white">Hospital Data</h3>
              <br>
              <div class="card bg-info" style="width: 28rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-info">Hospital Code : <b>{{postsdata.Hoscode}}</b> </li>
                  <li class="list-group-item bg-info">Hospital Name : <b>{{postsdata.hname}}</b> </li>
                  <li class="list-group-item bg-info">Normal Beds Available : <b>{{postsdata.normalbed}}</b> </li>
                  <li class="list-group-item bg-info">Electric Beds Available : <b>{{postsdata.eicubed}}</b> </li>
                  <li class="list-group-item bg-info">I.C.U Beds Available : <b>{{postsdata.icubed}}</b> </li>
                  <li class="list-group-item bg-info">Ventilators Beds Available : <b>{{postsdata.vbed}}</b> </li>
                  <li class="list-group-item bg-info"><a href="/hedit/{{postsdata.id}}"><i class="fas fa-edit text-dark">: Edit</i> </li>
                  <li class="list-group-item bg-info"><a class="ml-4" confirm(' Are you sure to Delete Data' ); href="/hdelete/{{postsdata.id}}"><i class="fas fa-trash text-dark">: Delete</i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

   </div>


</div>

</div>
{% endblock body %}